@model HomeModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-sm-4">
        @foreach (var category in Model.Categories.Where(c => c.ParentId == null))
        {
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    @category.Name
                </a>
                @foreach (var childCategory in Model.Categories.Where(c => c.ParentId == category.Id))
                {
                    <a asp-controller="Item" asp-action="Index" asp-route-id="@childCategory.Id" class="list-group-item">@childCategory.Name<span class="badge">0</span></a>
                }
            </div>
        }
    </div>
        <div class="col-sm-8">
            <ol class="breadcrumb">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Item" asp-action="Category">Electronics</a></li>
                <li class="active">Mobile</li>
            </ol>
            <div>
                <div class="row">
                    @foreach (var item in Model.Items)
                    {
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="@item.Image"/>
                                <div class="caption text-center">
                                    <h3>@item.Name</h3>
                                    <p>Price: <span>@item.Price</span></p>
                                    <p><a asp-area="" asp-controller="Item" asp-action="AddToCart" class="btn btn-primary" role="button">Add to cart</a></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
</div>

