@model IEnumerable<ItemModel>
@{
    ViewData["Title"] = "Items";
}

<h2>Items</h2>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Location</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.itemName</td>
            <td>@item.description</td>
            <td>@item.price</td>
            <td>@item.location</td>
            <td><a asp-controller="CategoriesAndItems" asp-action="ViewItem" asp-route-id="@item.ID">View Item</a></td>
        </tr>
    }
</table>

<p><a asp-controller="CategoriesAndItems" asp-action="Categories" asp-route-id="">BACK</a></p>

