@model ItemModel
@{
    ViewData["Title"] = "ViewItem";
}

<h2>View Item</h2>

<p>ID : @Model.ID</p>

<p>Name : @Model.itemName</p>

<p>Price : @Model.price</p>

<p>Description : @Model.description</p>

<p>Location : @Model.location</p>


